<div class="card fat fat col-sm-12 col-md-6 col-xl-4">
  <div class="card-body">
    <form method="POST" class="my-login-validation" novalidate="">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" name="name" value="">
      </div>
      <div class="form-group">
        <label for="email">E-Mail Address</label>
        <input id="email" type="email" class="form-control" name="email" value="">
      </div>
      <div class="form-group">
        <label for="doj">Date Of Joining</label>
        <input id="doj" type="date" class="form-control" name="doj" value="">
      </div>
      <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input id="dob" type="date" class="form-control" name="dob" value="">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input id="address" name="addres" class="form-control" type="text" placeholder="address">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input id="phone" type="tel" class="form-control" name="phone" value="">
      </div>
      <div class="form-group">
        <label for="agency">Agency</label>
        <select id="agency" class="form-control" name="agency" value="">
          <option value="">Select</option>
          <option value="ohg">OHG</option>
          <option value="house">House</option>
          <option value="code">Code Worldwide</option>
          <option value="javelin">Javelin</option>
        </select>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="form-control" name="role" value="">
          <option value="">Select</option>
          <option value="associate">Associate Consultent</option>
          <option value="Consultent">Consultent</option>
          <option value="senior">Senior Consultent</option>
          <option value="lead">Lead Consultent</option>
          <option value="team">Team Manager</option>
          <option value="project">Project Manager</option>
        </select>
      </div>
      <div class="form-group">
        <label for="reporting">Reporting Manager</label>
        <select id="reporting" class="form-control" name="reporting" value="">
          <option value="">Select</option>
          <option value="">Navin Sebastian</option>
          <option value="">Sandeep Baynes</option>
          <option value="">Pradeep Sudhakar</option>
          <option value="">Clemens Brandt</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hr">HR-Manager</label>
        <select id="hr" class="form-control" name="hr" value="">
          <option value="">Select</option>
          <option value="">Malar Mohan</option>
        </select>
      </div>
      <div class="form-group m-0 float-right">
        <button type="cancel" class="btn btn-primary marginR20" name="cancel" value="cancel"> Cancel </button>
        <button type="submit" class="btn btn-primary" name="submit" value="submit"> Submit </button>
      </div>
    </form>
  </div>
</div>