<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Hangar Worldwide | Portal</title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>

<body class="tiles-page">
  <header class="row justify-content-between align-items-center m-0 p-2 bg-black">
    <div class="logo">
      <a href="#" title="Hangar Worldwide Homepage"><img src="/img/HangarWW-Logo.png" class="w-100 h-100"
          alt="Logo"></a>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu 4</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="contentcontainer row p-3 bg-light justify-content-center align-items-center">
    <!-- Insert site content here-->
    <div class="card col-sm-12 col-md-8">
      <div class="card-body">
        <h4 class="card-title text-center">Edit User</h4>
        <form method="POST" class="my-login-validation" novalidate="">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" name="name" value="">
          </div>
          <div class="form-group">
            <label for="email">E-Mail Address</label>
            <input id="email" type="email" class="form-control" name="email" value="">
          </div>
          <div class="form-group">
            <label for="doj">Date Of Joining</label>
            <input id="doj" type="date" class="form-control" name="doj" value="">
          </div>
          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input id="dob" type="date" class="form-control" name="dob" value="">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input id="address" name="addres" class="form-control" type="text" placeholder="address">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" type="tel" class="form-control" name="phone" value="">
          </div>
          <div class="form-group">
            <label for="agency">Agency</label>
            <select id="agency" class="form-control" name="agency" value="">
              <option value="">Select</option>
              <option value="ohg">OHG</option>
              <option value="house">House</option>
              <option value="code">Code Worldwide</option>
              <option value="javelin">Javelin</option>
            </select>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select id="role" class="form-control" name="role" value="">
              <option value="">Select</option>
              <option value="associate">Associate Consultent</option>
              <option value="Consultent">Consultent</option>
              <option value="senior">Senior Consultent</option>
              <option value="lead">Lead Consultent</option>
              <option value="team">Team Manager</option>
              <option value="project">Project Manager</option>
            </select>
          </div>
          <div class="form-group">
            <label for="reporting">Reporting Manager</label>
            <select id="reporting" class="form-control" name="reporting" value="">
              <option value="">Select</option>
              <option value="">Navin Sebastian</option>
              <option value="">Sandeep Baynes</option>
              <option value="">Pradeep Sudhakar</option>
              <option value="">Clemens Brandt</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hr">HR-Manager</label>
            <select id="hr" class="form-control" name="hr" value="">
              <option value="">Select</option>
              <option value="">Malar Mohan</option>
            </select>
          </div>
          <div class="form-group m-0 float-right">
            <button type="cancel" class="btn btn-primary marginR20" name="cancel" value="cancel"> Cancel </button>
            <button type="submit" class="btn btn-primary" name="submit" value="submit"> Submit </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer class="row justify-content-center align-items-center p-3 bg-black">
    <p class="text-white text-center"> &copy; 2019 Hangar Worldwide. All Rights Reserved.</p>
  </footer>
  <!-- The Modals-->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading 1</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body 1..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading 2</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body 2..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading 3</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body 3..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal4">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading 4</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body 4..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>